@font-face {
  font-family: "DiamondDust";
  src: url(/src/assets/fonts/DiamondDust-L5d5.otf);
}

@font-face {
  font-family: "Adequate";
  src: url(/src/assets/fonts/Adequate-ExtraLight.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(/src/assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-Light";
  src: url(/src/assets/fonts/Montserrat-Light.ttf);
}
@keyframes titleAppear {
  0% {
    transform: translateY(-500px);
    display: hidden;
  }

  1% {
    display: block;
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes nameAppear {
  0% {
    transform: translateY(-500px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes projAppear {
  0% {
    transform: translateX(-100px) scale(0.85);
    opacity: 50%;
  }

  100% {
    transform: translateX(0px) scale(1);
    opacity: 100%;
  }
}

@keyframes whiteSpaceDisappear {
  0% {
    display: block;
  }

  100% {
    display: none;
  }
}

* {
  overflow-x: hidden;
}

@keyframes colorTransition {
  0% {
    background-color: white;
  }

  100% {
    background-color: black;
  }
}

.introductionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.aboutMeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.SkillsContainer {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.SkillsRes1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.skillsRes2 {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ContactsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(156, 154, 154, 1) 95%,
    rgba(219, 219, 219, 1) 97%,
    rgba(255, 255, 255, 1) 100%
  );
  color: white;
  padding-top: 30px;
}

.name {
  position: relative;
  font-family: "DiamondDust";
  font-size: 100px;
  margin: 20px;
  animation: nameAppear 1s cubic-bezier(0, 0.1, 0.12, 0.99) forwards;
  z-index: 2;
}

.title {
  font-family: "Adequate";
  margin: 10px;
  font-size: 40px;
  transform: translateY(-500px);
  animation: titleAppear 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0.8s forwards;
  z-index: 0;
}

.nameWhiteSpace {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 40vh;
  transform: translateY(-35vh);
  z-index: 3;
  animation: whiteSpaceDisappear 0.1s linear 1.1s forwards;
}

.titleWhiteSpace {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 56vh;
  transform: translateY(-23vh);
  z-index: 1;
  animation: whiteSpaceDisappear 0.1s linear 2.4s forwards;
}

.aboutMe-p1 {
  font-size: 40px;
  font-family: "Montserrat-Light";
  margin-left: 40px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 150px;
  z-index: 1;
}

.aboutMe-p2 {
  font-size: 40px;
  font-family: "Montserrat-Light";
  margin-left: auto;
  margin-right: 60px;
  margin-top: 80px;
  margin-bottom: 10px;
  z-index: 1;
}

.display-img {
  width: 70px;
  height: 70px;
  margin: 10px;
}

.divjustify {
  height: 200vh;
  width: 50%;
  margin: 0;
  visibility: hidden;
}

.projectImage {
  height: 100vh;
  width: 50%;
  margin: 0;
  margin-top: 700px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  margin-left: 770px;
}

.projectSlide {
  margin: 0;
  display: flex;
}

.projectHeader {
  font-family: "Adequate";
  margin-left: 40px;
}

.projectLink {
  bottom: 50px;
  position: absolute;
  margin-left: 50px;
}

.projectLinkButton {
  background-color: white;
  width: 330px;
  height: 80px;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  font-size: 40px;
  font-family: "Montserrat-Light";
  transition: transform 0.5s ease-out;
  margin: 15px;
}

.projectLinkButton:hover {
  background-color: rgb(0, 0, 0);
  transform: scale(1.05);
  color: white;
  animation: colorTransition 0.4s ease-out;
}

.projectBody {
  margin-left: 100px;
  align-items: center;
}

.projectTitle {
  font-family: "Montserrat-Bold";
  font-size: 50px;
  margin: 5px;
  margin-bottom: 20px;
}

.projectParagraph {
  margin: 30px;
  font-family: "Montserrat-Light";
  font-size: 25px;
}

.relative {
  position: relative;
  visibility: hidden;
  top: 0;
  width: 50vw;
  height: 100%;
}

.hidden {
  position: relative;
  display: none;
  top: 0;

  width: 100%;
  height: 100vh;
}

.fixed {
  position: fixed;
  animation: projAppear 0.6s ease-out;
  visibility: visible;
  top: 0;
  width: 50vw;
  height: 100%;
}

.scrollingImage {
  width: 300px;
  height: 612px;
  display: flex;
}
.skills-txt {
  font-family: "Montserrat-Light";
  font-size: 30px;
  word-spacing: 10px;
  z-index: 1000;
  display: flex;
}

.skills-2 {
  display: none;
}

.social-img {
  width: 80px;
  height: 80px;
  margin: 20px;
  transition: all 0.4s;
  border-radius: 20px;
}

.ContactsTitle {
  font-family: "Montserrat-Bold";
  font-size: 60px;
  display: flex;
}

.SkillsTitleRes {
  display: none;
}

.social-img:hover {
  box-shadow: 0px 0px 20px #888888;
  transform: scale(1.03);
}

@media (max-width: 1280px) {
  .aboutMe-p1 {
    font-size: 30px;
    margin-left: 60px;
  }

  .aboutMe-p2 {
    font-size: 30px;
  }

  .projectImage {
    margin-left: 650px;
  }

  .projectBody {
    margin-left: 50px;
  }

  .projectParagraph {
    margin: 10px;
    font-size: 20px;
  }
}

@media (max-width: 1150px) {
  .display-img {
    width: 50px;
    height: 50px;
  }
  .projectImage {
    margin-left: 550px;
  }
}

@media (max-width: 1000px) {
  .name {
    font-size: 80px;
  }
  .title {
    font-size: 30px;
  }
  .aboutMe-p1 {
    font-size: 25px;
    margin-bottom: 110px;
    margin-left: 40px;
  }

  .aboutMe-p2 {
    font-size: 25px;
    margin-right: 40px;
  }

  .projectHeader {
    font-size: 30px;
  }

  .projectTitle {
    font-size: 40px;
  }

  .projectParagraph {
    margin-top: 0;
  }

  .projectImage {
    margin-left: 450px;
  }

  .projectLinkButton {
    font-size: 30px;
    width: 300px;
    height: 75px;
  }

  .SkillsRes1 {
    display: none;
  }

  .skillsRes2 {
    display: flex;
    z-index: 1000;
    position: relative;
  }

  .skills-txt {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .ContactsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .aboutMe-p1 {
    font-size: 20px;
    margin-bottom: 80px;
    margin-left: auto;
    text-align: center;
  }

  .aboutMe-p2 {
    font-size: 20px;
    margin-right: 40px;
  }

  .projectImage {
    margin-left: 380px;
  }

  .projectTitle {
    font-size: 35px;
  }

  .projectLinkButton {
    width: 270px;
  }
}
@media (max-width: 700px) {
  .name {
    font-size: 50px;
  }
  .title {
    font-size: 20px;
  }
  .introductionContainer {
    height: 70vh;
  }

  .aboutMe-p2 {
    margin-top: 180px;
  }

  .projectImage {
    visibility: hidden;
  }

  .fixed {
    width: 100vw;
  }

  .projectTitle {
    text-align: center;
  }

  .projectParagraph {
    text-align: center;
  }

  .projectLink {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .projectBody {
    margin: 50px;
    margin-top: 10px;
  }

  .projectTitle {
    font-size: 50px;
  }

  .frameworkImgContainer {
    text-align: center;
  }

  .divjustify {
    height: 100vh;
  }

  .ContactsTitle {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .projectTitle {
    font-size: 35px;
  }

  .skillsRes2 {
    justify-content: center;
    display: block;
  }

  .SkillsTitleRes {
    display: block;
    font-family: "Montserrat-Bold";
    margin-bottom: 160px;
    font-size: 30px;
  }

  .SkillsContainer {
    height: 100%;
    text-align: center;
  }

  .skills-txt {
    margin: 0;
    margin-bottom: 100px;
    width: 100%;
    display: block;
  }
}

@media (max-width: 425px) {
  .name {
    font-size: 35px;
  }

  .projectLinkButton {
    width: 200px;
    height: 50px;
    font-size: 20px;
  }

  .projectParagraph {
    font-size: 15px;
  }

  .ContactsTitle {
    display: none;
  }

  .ContactsLink {
    display: block;
  }

  .social-img {
    display: block;
  }

  .display-img {
    width: 40px;
    height: 40px;
  }
  .title {
    animation: none;
    transform: translateY(0);
  }
  .introductionContainer {
    height: 50vh;
  }

  .aboutMe-p2 {
    text-align: center;
    margin-right: auto;
  }
}

@media (max-width: 375px) {
  .name {
    font-size: 25px;
  }

  .titleWhiteSpace {
    transform: translateY(-35vh);
  }
  .title {
    animation: none;
    transform: translateY(0);
    font-size: 13px;
  }
  .fixed {
    display: none;
  }

  .relative {
    display: none;
  }

  .divjustify {
    display: none;
  }
  .hidden {
    display: block;
  }
  .introductionContainer {
    height: 50vh;
  }
}
